<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fzi.bwcps.stream.analysis.start"
            name="BWCPS Analysis Start">
         <defaultHandler
               class="de.fzi.bwcps.stream.analysis.EdgeAnalysisHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:de.fzi.bwcps.stream.bwcps_streams.entity.presentation.entityEditorID?endof=additions">
         <menu
               id="de.fzi.bwcps.stream.analysis"
               label="Analyze BWCPS Instance"
               mnemonic="A">
            <command
                  commandId="de.fzi.bwcps.stream.analysis.start"
                  label="Throughput analysis"
                  mnemonic="T"
                  style="push"
                  tooltip="Performs an edge throughput analysis on the selected bwcps instance">
            </command>
            <command
                  commandId="de.fzi.bwcps.stream.analysis.start"
                  label="Timeliness analysis"
                  mnemonic="I"
                  style="push"
                  tooltip="Performs an edge timeliness analysis on the selected bwcps instance">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
