<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fzi.bwcps.stream.analysis.start"
            name="BWCPS Analysis Start">
         <defaultHandler
               class="de.fzi.bwcps.stream.analysis.EdgeAnalysisHandler">
         </defaultHandler>
         <commandParameter
               id="de.fzi.bwcps.stream.analysis.name"
               name="Ananlysis name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:de.fzi.bwcps.stream.bwcps_streams.entity.presentation.entityEditorID?endof=additions">
         <menu
               id="de.fzi.bwcps.stream.analysis"
               label="Analyze BWCPS Instance"
               mnemonic="A">
            <command
                  commandId="de.fzi.bwcps.stream.analysis.start"
                  label="Run all analyses"
                  mnemonic="A"
                  style="push"
                  tooltip="Runs all availiable analyses">
               <parameter
                     name="de.fzi.bwcps.stream.analysis.name"
                     value="all">
               </parameter>
            </command>
            <separator
                  name="de.fzi.bwcps.stream.analysis.sep1"
                  visible="true">
            </separator>
            <command
                  commandId="de.fzi.bwcps.stream.analysis.start"
                  label="Throughput analysis"
                  mnemonic="T"
                  style="push"
                  tooltip="Performs an edge throughput analysis on the selected bwcps instance">
               <parameter
                     name="de.fzi.bwcps.stream.analysis.name"
                     value="throughput">
               </parameter>
            </command>
            <command
                  commandId="de.fzi.bwcps.stream.analysis.start"
                  label="Timeliness analysis"
                  mnemonic="I"
                  style="push"
                  tooltip="Performs an edge timeliness analysis on the selected bwcps instance">
               <parameter
                     name="de.fzi.bwcps.stream.analysis.name"
                     value="timeliness">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
