/.DTOGenerationStep.java._trace
/.DTOGenerationStep.xtendbin
/.FileGenerationStep.java._trace
/.FileGenerationStep.xtendbin
/.GenerationStep.java._trace
/.GenerationStep.xtendbin
/.ProjectGenerationStep.java._trace
/.ProjectGenerationStep.xtendbin
/.UtilityGenerationStep.java._trace
/.UtilityGenerationStep.xtendbin
/DTOGenerationStep.java
/FileGenerationStep.java
/GenerationStep.java
/ProjectGenerationStep.java
/UtilityGenerationStep.java
/.DeploymentPackageGenerationStep.java._trace
