/.ElementFilter.java._trace
/.ElementFilter.xtendbin
/.StreamRepositoryFilter.java._trace
/.StreamRepositoryFilter.xtendbin
/.UtilityDataFilter.java._trace
/.UtilityDataFilter.xtendbin
/ElementFilter.java
/StreamRepositoryFilter.java
/UtilityDataFilter.java
/.StreamFilter.java._trace
/.StreamFilter.xtendbin
/StreamFilter.java
/.NodeContainerFilter.java._trace
